
%p
  %b Title:
  = @topic.title
%p
  %b User:
  = @topic.user.try(:display_name)

- if current_user && @topic.owned_by?(current_user)
  %p= link_to 'Destroy', topic_path(@topic), id: 'destroy-topic', data: { confirm: 'Are you sure?' }, method: :delete
  
%hr

- if flash[:notice]
  %p#notice= flash[:notice]

- if current_user
  = link_to 'New Comment', new_topic_comment_path(@topic)

= render partial: 'comments/list'

%p= link_to 'Back', root_path
